<launch>
    <param name="use_sim_time" value="true"/>
    <node pkg="tf"
        type="static_transform_publisher"
        name="base_link_to_imu_broadcaster"
        args="0 0 0 0 0 0 base_link imu_link 100" />
    <node pkg="tf"
        type="static_transform_publisher"
        name="bl_to_gps_transform_broadcaster"
        args="0 0 0 0 0 0 base_link gps 100" />
    <node pkg="tf_tree_publisher" type="bl_to_odom_tf_broadcaster.py" name="tf_odom" />
    <node pkg="tf_tree_publisher" type="bl_to_map_tf_broadcaster.py" name="tf_map" />
</launch>